<%- include("../_header") -%>
    <br><br>
    <form>
        post title: <input type="text" name="post-title" size="30" required aria-required="true"><br><br>
        post content: <input type="text" name="post-content" size="60" required aria-required="true"><br><br>
        <input type="submit" value="Add Post" name="add-post">
    </form>
<%- include("../_footer") -%>