<%- include("../_header") -%>
    <h2>Operation Results</h2>
    <table>
        <tr>
          <th>Username</th>
          <th colspan="3">Operations</th>
        </tr>
        <tr>
          <td>User</td>
          <td><i class="fas fa-edit"></i></td>
          <td><i class="fas fa-trash"></i></td>
          <td><i class="fas fa-check-square"></i></td>
        </tr>
      </table>
<%- include("../_footer") -%>