<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">	
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="/css/jquery.bxslider.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <header>
        <div class="topnav">
            <a href="/">
                <img src="/logo.PNG" alt="Venture Skates Logo" class="logo">
            </a>
            <ul id="navfonts">
                <li><a href="#" id="font-resizer">Font Resizer</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Style Switcher</button>
                    <div class="dropdown-content">
                        <a href="#" id="background1">Change to first image</a>
                        <a href="#" id="background2">Change to second image</a>
                        <a href="#" id="background3">Change to third image</a>
                    </div>
                </div> 
                <li><a href="/login" id="admin-login">Admin Login</a></li>
            </ul>  
            <div id="bg-img"></div> 
        </div>
    </header>