<%- include("_header") -%>
    <div id="blogentry1">
        <p>Take a look at our photo gallery to learn more about our upcoming events!</p>
    </div>
    <div id="blogentry2">
        <img src="/eboard.jpeg" alt="Eboard Riders" style="width:500px;height:500px;">
        <img src="/ridingboard.jpg" alt="Board Ride" style="width:500px;height:500px;">
        <img src="/skateboard.jpg" alt="Skateboard" style="width:500px;height:500px;">
        <img src="/meepo.png" alt="Skateboard" style="width:500px;height:500px;">
    </div>
<%- include("_footer") -%>